<%- include('header', {style: '/assets/styles/inventory_functions.css'}) -%>

<h1>
    <% if (typeof flower === 'undefined') { %>
        Add new flower
    <% } else { %>
        Edit flower
    <% } %>
</h1>
<div class="form-container">
    <form method="POST" >
        <label for="flowerID" class="form-label">Flower ID:</label>
        <input type="number" id="flowerID" name="flowerID" class="form-input" value="<%= (typeof flower !== 'undefined') ? flower.flowerID : '' %>"  required>

        <label for="flower_name" class="form-label">Flower Name: </label>
        <input type="text" id="flower_name" name="flower_name" class="form-input" value="<%= (typeof flower !== 'undefined') ? flower.flower_name : '' %>"  required>

        <label for="flower_amount" class="form-label">Amount:</label>
        <input type="number" id="flower_amount" name="flower_amount" class="form-input" value="<%= (typeof flower !== 'undefined') ? flower.flower_amount : '' %>"  required>

        <label for="flower_price" class="form-label">Price:</label>
        <input type="number" id="flower_price" name="flower_price" class="form-input" value="<%= (typeof flower !== 'undefined') ? flower.flower_price : '' %>"  required>

        <input type="submit" value="<%= (typeof flower === 'undefined') ? 'Add Flower' : 'Edit flower' %>">
    </form>
</div>
<h3><form action="/menu/inventory"><button><img src="/assets/styles/files/vissza.png" alt="" width="30"></button></form></h3>

<%- include('footer') -%>
