<%- include('header', {style: '/assets/styles/records_functions.css'}) -%>

<h1>Customer Information</h1>
<div class="form-container">
    <div class="form-label">
        <span class="form-label">Full Name:</span> <span id="cust_name"><%= customer[0].name %></span>
    </div>
    <div class="form-label">
        <span class="form-label">Phone Number:</span> <span id="phone"><%= customer[0].phone %></span>
    </div>
    <div class="form-label">
        <span class="form-label">Address:</span> <span id="address"><%= customer[0].address %></span>
    </div>
</div>
<a href="/menu/records" class="back-button">Back</a>

<%- include('footer') -%>
