<%- include('header', {style: '/assets/styles/inventory_functions.css'}) -%>

<h1>Edit flower</h1>
<div class="container">
    <form action="/menu/inventory">
        <label for="flower_name"> Flower Name: </label><br>
        <input type="text" id="flower_name" name="flower_name" class="form-input" value="<%= flower.flower_name %>" required>

        <label for="flower_amount">Amount:</label><br>
        <input type="number" id="flower_amount" name="amount" class="form-input" value="<%= flower.flower_amount %>" required>

        <label for="flower_price">Price:</label><br>
        <input type="number" id="flower_price" name="price" value="<%= flower.flower_price %>" step="0.01" required><br>

        <input type="submit" value="Edit flower">
    </form>
</div>
<h3><form action="/menu/inventory"><button><img src="/assets/styles/files/vissza.png" alt="" width="30"></button></form></h3>

<%- include('footer') -%>
