<%- include('header', {style: '/assets/styles/records.css'}) -%>
<%- include('navbar') -%>

<div class="background">
    <div class="upper-background"></div>
    <div class="lower-background"></div>
    <div class="content">
        <div class="container">
            <h1>Customer Record</h1>
        </div>
        <div class="table-container">
            <div class="action-buttons">
                <button onclick="location.href='/menu/records/new'">Add new customer</button>
            </div>
            <table class="table-borderless">
                <thead>
                <tr>
                    <th>Customer ID</th>
                    <th>Name</th>
                    <th>Flower Type</th>
                    <th>Amount</th>
                    <th>Price</th>
                    <th>Edit</th>
                    <th>Info</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <%records.forEach(function (rec){ %>
                <tr>
                    <td>
                        <%= rec.customerID %>
                    </td>
                    <td>
                        <%= rec.name %>
                    </td>
                    <td>
                        <%= rec.flower_name %>
                    </td>
                    <td>
                        <%= rec.amount %>
                    </td>
                    <td>
                        <%= rec.price %>
                    </td>
                    <td><button class="edit-button" onclick="location.href='/menu/records/<%= rec.customerID %>'">Edit</button></td>
                    <td><button class="info-button" onclick="location.href='/info/<%= rec.customerID %>'">Info</button></td>
                    <td><button class="delete-button" onclick="location.href='/menu/records/del/<%= rec.customerID %>'">Delete</button></td>
                </tr>
                <% }); %>
                </tbody>
            </table>
        </div>
        <h2>ROSY FLORIST |</h2>
        <h3><form action="/menu"><button><img src="/assets/styles/files/menu.png" alt="" width="50"></button></form></h3>
    </div>
</div>

<%- include('footer') -%>
